/* styles.css */

.box {
  box-sizing: border-box;
}

.title {
  font-size: 36px;
  padding: 10px;
  background-color: darkblue;
  color: white;
  border: 2px solid blue;
  width: 300px;
  height: auto;
}

li {
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}

.smoothie,
.mac_and_cheese,
.pb_j {
  color: white;
  font-size: 30px;
  padding: 5px;
  border: 2px;
  width: 300px;
  text-align: center;
}

.smoothie {
  background-color: darkorange;
  border: solid orange;
}

.mac_and_cheese {
  background-color: goldenrod;
  border: solid gold;
}

.pb_j {
  background-color: blueviolet;
  border: solid violet;
}