/* styles.css */


li {
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
}

.main {
  font-size: 20px;
}

.title {
  font-size: 36px;
  padding: 10px;
  background-color: darkblue;
  color: white;
  border: 2px solid blue;
}

.smoothie,
.mac_and_cheese,
.pb_j {
  color: white;
}

.smoothie {
  background-color: darkorange;
}

.mac_and_cheese {
  background-color: goldenrod;
}

.pb_j {
  background-color: blueviolet;
}